<footer class="f-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 f-info-brand">
                <h5>WanderLust</h5>
                <p>Find your perfect stay anywhere in the world. Experience unique accommodations and create unforgettable memories.</p>
            </div>
            <div class="col-md-4 f-info-links">
                <h6 class="mb-3">Quick Links</h6>
                <a href="/about">About Us</a>
                <a href="/contact">Contact</a>
                <a href="/">Browse Listings</a>
                <a href="/new">Host Your Home</a>
                <a href="/help">Help Center</a>
            </div>
            <div class="col-md-4 f-info-links">
                <h6 class="mb-3">Legal</h6>
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/cancellation">Cancellation Policy</a>
                <a href="/refund">Refund Policy</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="f-info-socials">
                    <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="f-info-copyright">
            <p>&copy; <%= new Date().getFullYear() %> WanderLust. All rights reserved.</p>
        </div>
    </div>
</footer>