body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 4rem;
    background-color: white;
}

.fa-compass {
    color:#fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    margin-right: 0.2rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.card {
    margin-bottom: 2rem;
}
.listings-card {
    border: none !important;
    /* margin-bottom: 2rem; */
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* card-overlay */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn, .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map {
    height: 50vh;
    width: 80vh;
}

/* search bar */
.search-btn {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}
.search-btn:hover {
    background-color: #fe424d !important;
    color: #fff !important;
}

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

.search-inp {
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
    font-size: 1rem !important;
}